* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {padding: 30px;
    background: rgb(4, 1, 51);
    color: bisque;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
}
p{padding-top: 70px;}
.cat{
    font-size: 60px;
    position: relative;

    top: 8%;
}
